*{
    margin: 0;
    padding: 10;
}
#container{
color: rgb(4, 10, 52);
padding: 1.5rem;
}
.container{
    text-align: center;
}
h1{
    color: blue;
}
.head{
    float: center;
    
}
.mylogo{
    float: left;
}

.user{
    float: right;
}